body{

 font-family: Ebrima,Abadin,sans-serif;   

}

nav{
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70px;
    padding-top: 10px;
    border-bottom: 0.2px solid gray;

}

nav div{

text-align: center;


}

a{
text-decoration: none;
color: grey;
margin: 0.5em;

}

#menu_right{
width: 250px;
padding: 15px;
text-align: right;


    
}



#title{
padding: 15px;
font-weight: bold;
font-size: 1.5em;
display: inline-block;
text-align: center;

}

#menu_left{
    padding: 15px;
    text-align: left;

}

/* Now let's make the body */


#menu_center{

  
   text-align: center; 
   height: 100px;
   padding-top: 40px;
   

}

#menu_center a {
text-decoration: none;
color: grey;
margin: 10px;


}

#Download_content{

text-align: center;

}



p{
width: 400px;
text-align: center;
color: gray;
margin: 10px auto;
margin-bottom: 50px;
}

button{
background-color:#2C75D3 ;
color: white;
border: none;
height: 60px;
width: 270px;
border-radius: 4px;
font-size: 18px;
cursor: pointer;


 
}

button:hover{

  background-color: #2E73BF
  
  }

#object{
    padding-top: 30px;
display: grid;
grid-template-columns: 1fr 0.3fr 1fr;
grid-template-rows: 250px;
font-size:10px;

}

#t1 img{

width: 50px;
height: 50px;

}

#t1 img:hover{

    width: 80px;
    height: 80px;
    
    }

#t2 img{

width: 40px;
height: 50px;

}

#t2 img:hover{

    width: 70px;
    height: 80px;
    
    }


#t3 img{

    width: 50px;
    height: 50px;
    
    }

    #t3 img:hover{

        width: 80px;
        height: 80px;
        
        }
    

#t1{

text-align: center;
}



#t2{
 
    text-align: center;
    padding-bottom: 6px;
}
#t2 h2{
    padding-left: 8px; 
 }

#t3{
   
    text-align: center;
}